/* Do everything in this file */
h2 {
    border-bottom: 1px solid red;
    clear:both;
    }

figure {
    float: right;
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

#tetlist {
    display: flex;
    flex-flow: row wrap;
    }

img {
    width: auto;
    }

div.tet {
    float: left;
    width: 45%;
    flex: 1 0 650px;
    border: 1px solid black;
    }

div img {
    width: 60%;
    }

footer {
    clear: both;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -500;
    }

header, main, footer {
    width: 90%vw;
    margin-left: auto;
    margin-right: auto;
    }

span.name {
    display: block;
    margin: 10px 5px;
    font-size: larger;
    font-weight: bolder;
    }

div {
    text-align: center;
    margin: 1em;
    }